{% load bootstrap4  %}
<!DOCTYPE html>
<html lang="pr-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        {% bootstrap_messages %}
        <form action="{% url 'contact' %}" method="post" class= "form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Submit message</button>
        </form>
    </div>
    {% bootstrap_javascript jquery='full' %}

</body>
</html>